<nav>
    <mat-toolbar color="primary">
        <a routerLink="/" class="logo">
            <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="logo" class="logo__link">
        </a>

        <a routerLink="map" routerLinkActive="active" class="nav-link">
            <span>Map</span>
        </a>

        <a routerLink="location" routerLinkActive="active" class="nav-link">
            <span>Edit locations</span>
        </a>
        <span class="spacer"></span>
        <app-translate-dropdown></app-translate-dropdown>
    </mat-toolbar>
</nav>