<nav>
    <mat-toolbar color="primary" *transloco="let t;">
        <button *ngIf="checkMapRoute()" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSidenav()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <a routerLink="/" class="logo">
            <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="logo" class="logo__link">
        </a>

        <a routerLink="map" routerLinkActive="active" class="nav-link">
            <span>{{t('map')}}</span>
        </a>

        <a routerLink="location" routerLinkActive="active" class="nav-link">
            <span>{{t('locations')}}</span>
        </a>
        <span class="spacer"></span>
        <app-translate-dropdown></app-translate-dropdown>
    </mat-toolbar>
</nav>